VMAGENT_IP_ADDRESS=127.0.0.1
VMAGENT_PORT=18428

VM_REMOTE_WRITE_URL=http://<HOST>:18428/insert/0/prometheus/api/v1/write
VM_REMOTE_WRITE_USERNAME=<VM_REMOTE_WRITE_USERNAME>
VM_REMOTE_WRITE_PASSWORD=<VM_REMOTE_WRITE_PASSWORD>

LOKI_IP=<IP>
VM_IP=<IP>

