name: monitoring

services:
  vmagent:
    image: victoriametrics/vmagent:v1.128.0
    container_name: vmagent
    ports:
      - "$SERVICES_HOST:$VM_AGENT_PORT:8429"
    volumes:
      - "$VM_DATA_PATH:/vmagentdata"
      - ../vm-agent/scrape_config.yml:/etc/prometheus/scrape_config.yml
    command:
      - "-promscrape.config=/etc/prometheus/scrape_config.yml"
      - "--remoteWrite.url=$VM_REMOTE_WRITE_URL"
      - "--remoteWrite.basicAuth.username=$VM_REMOTE_WRITE_USERNAME"
      - "--remoteWrite.basicAuth.password=$VM_REMOTE_WRITE_PASSWORD"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://127.0.0.1:8429/-/healthy"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 20s
